Programas c/ejemplo.txt
2_semestre/Tarea1.exe
2_semestre/Tarea2.exe
2_semestre/Tarea3.exe
2_semestre/Tarea4.exe
2_semestre/Tarea5.exe
2_semestre/Tarea6-1.exe
2_semestre/Tarea6-2.exe
2_semestre/Tarea7-1.exe
2_semestre/Tarea7-2.exe